@model IEnumerable<BikeShop.Models.UserDto>

@{
    Layout = "_Layout";
}

<h2>Zarządzanie rolami użytkowników</h2>
<table class="table">
    <thead>
    <tr>
        <th>Imię i nazwisko</th>
        <th>Aktualna rola</th>
        <th>Nowa rola</th>
        <th>Akcja</th>
    </tr>
    </thead>
    <tbody>
    @foreach (var user in Model)
    {
        <tr>
            <td>@user.FirstName @user.LastName</td>
            <td>@user.Role</td>
            <td>
                <form asp-action="ChangeRole" method="post">
                    <input type="hidden" name="email" value="@user.Email" />
                    <select name="newRole" class="form-control">
                        @if (user.Role == "Admin")
                        {
                            <option value="Admin" selected>Admin</option>
                        }
                        else
                        {
                            <option value="Admin">Admin</option>
                        }
                        @if (user.Role == "Client")
                        {
                            <option value="Client" selected>Client</option>
                        }
                        else
                        {
                            <option value="Client">Client</option>
                        }
                        @if (user.Role == "Employee")
                        {
                            <option value="Employee" selected>Employee</option>
                        }
                        else
                        {
                            <option value="Employee">Employee</option>
                        }
                    </select>
                    <button type="submit" class="btn btn-primary">Zmień rolę</button>
                </form>
            </td>
        </tr>
    }
    </tbody>
</table>