<!DOCTYPE html>
<html lang="pl">
<head>
    <meta charset="utf-8"/>
    <meta name="viewport" content="width=device-width, initial-scale=1.0"/>
    <title>@ViewData["Title"] - BikeShop</title>
    <link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.min.css"/>
    <link rel="stylesheet" href="~/css/site.css" asp-append-version="true"/>
    <link rel="stylesheet" href="~/BikeShop.styles.css" asp-append-version="true"/>
</head>
<body>
<header>
    <nav class="navbar navbar-expand-sm navbar-light bg-light border-bottom box-shadow mb-3">
        <div class="container-fluid">
            <a class="navbar-brand" asp-area="" asp-controller="Home" asp-action="Index">BikeShop</a>
            <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarContent"
                    aria-controls="navbarContent" aria-expanded="false" aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
            </button>
            <div class="collapse navbar-collapse" id="navbarContent">
                <ul class="navbar-nav me-auto mb-2 mb-lg-0">

                    <li class="nav-item">
                        <a class="nav-link text-dark" asp-controller="Home" asp-action="Index">Strona główna</a>
                    </li>
                    @* <li class="nav-item"> *@
                        @*     <a class="nav-link text-dark" asp-controller="Order" asp-action="Create">Nowe zamówienie</a> *@
                    @* </li> *@
                    @* <li class="nav-item"> *@
                    @*     <a class="nav-link text-dark" asp-controller="OrderComments" asp-action="Add">Dodaj kometarz do zamówienia</a> *@
                    @* </li> *@
                    @if (User.IsInRole("Client"))
                    {
                        <li class="nav-item">
                            <a class="nav-link text-dark" asp-controller="Order" asp-action="Index">Zamówienia</a>
                        </li>
                    }

                    @if (User.IsInRole("Employee") || User.IsInRole("Admin"))
                    {
                        <li class="nav-item">
                            <a class="nav-link text-dark" asp-controller="Products" asp-action="Index">Dodaj Produkt</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link text-dark" asp-controller="UsersSearch" asp-action="Search">Wyszukaj użytkownika</a>
                        </li>
                    }

                    @if (User.IsInRole("Admin"))
                    {
                        <li class="nav-item">
                            <a class="nav-link text-dark" asp-controller="Admin" asp-action="ManageRoles">Zarządzaj rolami</a>
                        </li>
                    }
                </ul>
                <ul class="navbar-nav ms-auto mb-2 mb-lg-0">
                    <li class="nav-item">
                        <a class="btn btn-outline-primary me-2" asp-controller="Basket" asp-action="Index">
                            <span class="bi bi-basket">Koszyk</span> 
                        </a>
                    </li>
                    @if (User.Identity.IsAuthenticated)
                    {
                        <li class="nav-item">
                            <form asp-controller="Account" asp-action="Logout" method="post">
                                <button class="btn btn-primary ms-2" type="submit">Logout</button>
                            </form>
                        </li>


                        // TODO: ACCOUNT VIEW 
                        @* <li class="nav-item"> *@
                        @*     <a class="nav-link text-dark" asp-controller="Account" asp-action="Profile">Profile</a> *@
                        @* </li> *@
                        @* <li class="nav-item"> *@
                        @*     <form asp-controller="Account" asp-action="Logout" method="post" class="d-inline"> *@
                        @*         <button type="submit" class="nav-link btn btn-link text-dark" style="display:inline; padding:0;">Logout</button> *@
                        @*     </form> *@
                        @* </li> *@
                    }
                    else
                    {
                        <li class="nav-item">
                            <a class="btn btn-primary ms-2" asp-controller="Account" asp-action="Login">Login</a>
                        </li>
                    }
                </ul>
            </div>
        </div>
    </nav>
</header>

<div class="container">
    <main role="main" class="pb-3">
        @RenderBody()
    </main>
</div>

<footer class="border-top footer text-muted mt-4">
    <div class="container">
        &copy; 2025 - BikeShop - <a asp-controller="Home" asp-action="Privacy">Prywatność</a>
    </div>
</footer>

<script src="~/lib/jquery/dist/jquery.min.js"></script>
<script src="~/lib/bootstrap/dist/js/bootstrap.bundle.min.js"></script>
<script src="~/js/site.js" asp-append-version="true"></script>
@await RenderSectionAsync("Scripts", required: false)
</body>
</html>
