@page "{id:int}"
@using BikeShop.Models.Enums
@using Microsoft.AspNetCore.Mvc.TagHelpers
@model EditModel
@{
    Layout = "_Layout";
}
<h1>Edit Order</h1>

<form method="post">
    <input type="hidden" asp-for="Order.Id" />
    <div class="form-group">
        <label asp-for="Order.CreatedAt"></label>
        <input asp-for="Order.CreatedAt" class="form-control" />
        <span asp-validation-for="Order.CreatedAt" class="text-danger"></span>
    </div>
    <div class="form-group">
        <label asp-for="Order.Status"></label>
        <select asp-for="Order.Status" asp-items="Html.GetEnumSelectList<OrderStatus>()" class="form-control"></select>
        <span asp-validation-for="Order.Status" class="text-danger"></span>
    </div>
    <button type="submit" class="btn btn-primary">Save</button>
    <a asp-page="Index" class="btn btn-secondary">Back to List</a>
</form>

@section Scripts {
    <partial name="_ValidationScriptsPartial" />
}