@page "{id:int}"
@model EditModel
@using BikeShop.Models.Enums
@{
    ViewData["Title"] = "Edycja statusu zamówienia";
}

<h1>Zmień status zamówienia</h1>

<form method="post">
    <input type="hidden" asp-for="Id" />
    
    <div class="form-group">
        <label asp-for="Status"></label>
        <select asp-for="Status" asp-items="Html.GetEnumSelectList<OrderStatus>()" class="form-control"></select>
        <span asp-validation-for="Status" class="text-danger"></span>
    </div>

    <button type="submit" class="btn btn-primary">Zapisz</button>
    <a asp-page="Details" asp-route-id="@Model.Id" class="btn btn-secondary">Anuluj</a>
</form>

@section Scripts {
    <partial name="_ValidationScriptsPartial" />
}