@model IEnumerable<BikeShop.Models.ProductDto>

@{
    ViewData["Title"] = "Home Page";
}
<h2>Nasze produkty</h2>

<div class="row">
    @foreach (var product in Model)
    {
        <div class="col-md-4">
            <div class="card mb-4 shadow-sm">
                <div class="card-body">
                    <h5 class="card-title">@product.Name</h5>
                    <p class="card-text">Cena: @product.Price zł</p>
                    <img src="@product.ImageUrl" alt="Zdjęcie produktu" class="img-fluid" />
                </div>
            </div>
        </div>
    }
</div>

<div class="text-center">
    <h1 class="display-4">Welcome</h1>
    <p>Learn about <a href="https://learn.microsoft.com/aspnet/core">building Web apps with ASP.NET Core</a>.</p>
</div>